PLICKO_ENDPOINT_URL=localhost:8742
PLICKO_KEY=YOUR_KEY_HERE
BIND_ADDR=0.0.0.0:8742
ARTIFACTS_DIRECTORY=/artifacts
POSTGRES_PASSWORD=YOUR_PSQL_PASSWORD_HERE
POSTGRES_CONNECTION_STRING=postgres://postgres:YOUR_PSQL_PASSWORD_HERE@plicko:5432/plicko?sslmode=disable
MAX_UPLOAD_SIZE_BYTES=524288000
